---
---

@import "{{ site.theme }}";
.page-header {
  background-image: url('/images/panorama1.jpg');
  background-size: cover;
  background-position: center;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }
  tr:nth-child(even) {background-color: #f9f9f9;}
}

@media only screen and (max-width: 760px) {
  .activity-table-container {
    overflow-x: auto; // Enable horizontal scrolling
  }
}

.home-btn {
    background-color: #157878; /* Your desired background color */
    color: white; /* Text color */
    /* Add other properties as needed */
}

iframe {
  width: 100%; // Take the full width of the container
  height: 50vh; // Use 50% of the viewport height, adjust as needed
  max-width: 465px; // Maximum width set to the original width
  max-height: 500px; // Maximum height set to the original height
  border: 0; // Removes the border
}

// Optional: Adjust the height on smaller screens
@media only screen and (max-width: 760px) {
  iframe {
    height: 300px; // Set a fixed height on smaller screens if 50vh is too tall
  }
}